/* header */
.site-header{
  height: $header-height;
  background:$white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: transform 0.2s ease;

  &.fixed {
    position:fixed;
    top:-$header-height;
  }
  &.fixed.down{
    transform: translateY($header-height);
  }

  .container{
    height:100%;
  }
}

.site-header__contents{
  justify-content: space-between;
  align-items:center;
  height:100%
}

.site-header__logo{
  color:$red;
  font-weight:$weight-bold;
  text-decoration:none;
  display: block;

  img{
    max-width:200px;
  }
}
